* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.navigation {
  background-color: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  list-style-type: none;
}

.nav_logo {
  margin-right: 40px;
}

.nav_catalog {
  padding: 10px 10px 20px 0;
  position: relative;
  margin-right: 20px;
}

.nav_login {
  padding-right: 30px;
}

.mega-box {
  position: absolute;
  background-color: #FFFFFF;
  margin-top: 5px;
  padding: 37px 0 37px 0;
  width: 232px;
  display: none;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.mega-heading {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-left: 34px;
}

.mega_link {
  display: block;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  padding: 6px 0 5px 55px;
}

.color_link {
  color: #F16D7F;
  padding: 20px 0 6px 34px;
  text-transform: uppercase;
}

.bottom_link {
  padding-bottom: 0;
}

.mega_link:hover {
  color: #F16D7F;
}

.list_right:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  background-color: #F1E4E6;
}

.banner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner__slogan {
  padding-left: 16px;
  border-left: 12px solid #F16D7F;
  margin-left: 60px;
}

.the-brand {
  font-weight: bold;
  font-size: 48px;
}

.banner_text {
  font-weight: 700;
  font-size: 32px;
}

.banner_text_color {
  color: #F16D7F;
}

.project {
  margin-top: 65px;
}

.project__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.project_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project_text {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.project_text_mini {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
}

.content {
  background-color: #222224;
  padding: 104px 0;
  margin-top: 95px;
}

.content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.content__img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.content_text_big {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 20px;
  padding-bottom: 16px;
}

.content_text_small {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.img__padding {
  padding-bottom: 8px;
}

.img_padding {
  padding-bottom: 6px;
}

.footer_bottom {
  background: url(img/photo.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 1% 0 3% 0;
}

.footer_bottom_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.footer_info-left {
  padding-top: 87px;
  padding-bottom: 125px;
}

.footer_content {
  padding-top: 30px;
  max-width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer_info-right {
  padding-top: 150px;
  padding-bottom: 125px;
  width: 560px;
}

.footer_up_text {
  font-size: 24px;
  font-weight: 700;
}

.footer_down_text {
  font-weight: 400;
  font-size: 18px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.mail_box {
  background-color: #E1E1E1;
  border-radius: 20px 0 0 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 64px;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.subscribe_button {
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  padding: 14px 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.copyright {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 24px;
}

.copy_text {
  color: #FBFBFB;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.copyright_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.copyright_link {
  display: block;
}

.copyright_img {
  background-color: #FFFFFF;
  padding: 8px;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  display: block;
}

.magazin_title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-top: 96px;
}

.mag_subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 48px;
  font-weight: 400;
}

.mag_cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.card-link {
  display: block;
  text-decoration: none;
  text-align: left;
}

.card-pic {
  width: 100%;
  display: block;
}

.txt-box {
  padding: 25px 28px 20px 18px;
  background: #F8F8F8;
}

.card-title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  padding-bottom: 12px;
}

.card-desc {
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
  font-weight: 300;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  font-weight: 400;
}

.card:hover {
  -webkit-box-shadow: rgba(58, 56, 56, 0.86);
  box-shadow: rgba(58, 56, 56, 0.86);
}

.card:hover .card-pic {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

.add-txt {
  font-family: 'Lato';
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
}

.add-cart {
  padding-right: 8px;
}

.link-box {
  display: none;
  position: absolute;
  top: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.cart-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #fff;
  pointer-events: all;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-link:hover {
  -webkit-box-shadow: 0 0px 10px #FFFFFF;
  box-shadow: 0 0px 10px #FFFFFF;
}

.card:hover .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.browse_button {
  display: flex;
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  justify-content: center;
  text-align: center;
  width: 211px;
  margin-top: 48px;
  margin-bottom: 95px;
}

.browse_product {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 14px 38px;
  align-items: center;
}

.browse_link {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */